# URL pública del proyecto en Vercel
NEXT_PUBLIC_SITE_URL=https://sufiaw-store.vercel.app

# Próxima etapa: autenticación de administradores
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Próxima etapa: productos e inventario persistentes
DATABASE_URL=
BLOB_READ_WRITE_TOKEN=

# Próxima etapa: Webpay Plus / Transbank
TRANSBANK_COMMERCE_CODE=
TRANSBANK_API_KEY_SECRET=
TRANSBANK_ENVIRONMENT=integration

# Próxima etapa: Checkout Pro de Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
